body{
    background-color:rgb(20, 218, 105);
}
* {
    box-sizing: border-box;
  }

.btn{
    border-color: rgb(6, 71, 34);
    border-width:2px;
    border-style: solid;
}

/* Header ************/
.main-header {
    margin-top: 2rem;
    width: auto;
    height: auto;
    background-color: aquamarine;
    border-color: black;
    border-width:3px;
    border-style: solid;
    text-align: center;
}
.home-header-container{
    background-color:aquamarine;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width:250rem;
    height:35rem;
    border-color: black;
    border-width:3px;
    border-style: solid;
    
}


/* Buttons ************/

.btn{
border: 0.5px solid #000000;
-webkit-box-shadow: inset -98px 53px 34px -45px rgba(0,0,0,0.71);
-moz-box-shadow: inset -98px 53px 34px -45px rgba(0,0,0,0.71);
box-shadow: inset -98px 53px 34px -45px rgba(0,0,0,0.71);
}
.btn-nav{
    width: 6rem;
    margin-bottom: 2rem;
    border-color: black;
    border-width:3px;
    border-style: solid;
    
}
.btn-task{
    width:100%;
    margin-top: 1rem;
    margin-left: 1rem;
    border-color: black;
    border-width:3px;
    border-style: solid;
    font-size: x-small;
    display: block ;
    
}
.btn-nav-socials{
    display:inline-block;
    }

.h3{
    text-transform: uppercase;
}

/* Logo ************/

#logo{
    display: block;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width:65%;
}
.logo-box {
    margin-top: 3rem;
    margin-left: 3rem;
    text-transform: uppercase;
    font-weight: bold;
 }
 .logo-box-footer{
    text-align: center;
    margin-bottom: 1rem;
 }

 .logo{
    display:block;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    margin-top: 2rem;
     }

.logo-socials{
        display:block;
        text-transform: uppercase;
        font-weight: 600;
        font-style: italic;
        margin-top: -1rem;
    }

/* Reminder Boxes ************/

.map-box{
    border: 0.5px;
    border-color: rgb(25, 27, 27);
    background-color: rgb(222, 252, 252);
    width: auto;
    height: auto;
    margin-top: 3rem;
    border-color: rgb(17, 17, 17);
    border-width:2px;
    border-style: solid;
}

#map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.tasks-box{
    
    background-color: rgb(222, 252, 252);
    margin-top: 3rem;
    margin-left: 2rem;
    border-color: rgb(17, 17, 17);
    width: auto;
    height: auto;
    display: inline-block;
    
}

.task-table{
    width: 100%;
    font-size: x-small;
    overflow-y: hidden;
   }
.tasks-box,.map-box,.profile,.info-box,.welcome-message-box,.footer-container,.main-header,.home-header-container{
   border-radius: 28px 28px 28px 28px;
-moz-border-radius: 28px 28px 28px 28px;
-webkit-border-radius: 28px 28px 28px 28px;
border: 0.5px solid #000000;
-webkit-box-shadow: 28px 17px 33px 0px rgba(0,0,0,0.99);
-moz-box-shadow: 28px 17px 33px 0px rgba(0,0,0,0.99);
box-shadow: 28px 17px 33px 0px rgba(0,0,0,0.99);
    
}
.location-box,.priority-box,.status-box,.name-box,.name-box{
    
    border-style: none;
    width: auto;
    height: auto;
    
}

.coordinates{
    margin-left:2rem;
    text-align: center;
    
}

/* Bootstrap Toasts ************/

.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.ux-messages-header{
    overflow: visible;
}
.ux-messages-body{
    height:2px;
}


.welcome-message-box{
 margin-top:1rem;
 width: auto;
 height: auto;
 

}

.welcome-message-text{
    margin-top: 3rem;    
    text-shadow: 2rem;
    width: auto;
    height: auto;
    
    
}
.profile{
    background-color: aquamarine;
    border: solid 0.5px;
    width:65rem;
    height:20rem;
    box-shadow: 2rem;
}

.info-box{
    background-color: rgb(243, 243, 135);
}
/* Footer ************/
.footer-container{
    display: block;
    margin-top: 2rem;
    width: auto;
    height: auto;
    background-color: aquamarine;
    border-color: black;
    border-style: solid;
}
.container{
    margin-bottom: 3rem;
}

/* Media Queries ************/

@media only screen and (max-width:600px){
    .col,.col-4,.col-6,.col-12,.container,.container-fluid,.btn-task,.task-table,.base-container,.welcome-message-text{
    width: 100%;
    
}
@media only screen and (max-width:768px){
    [class*="col-"] {
        width: auto;
        height:auto;
      }
    
}
@media only screen and (max-width:992px){
   .map-box{
    width: 0%;
   }
   .tasks-box{
    width: 100%;
   }
    
}
@media only screen and (max-width:1096px){
    .map-box{
        width:50%;
    }
}
}