<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container home-header-container">
        <div class="row">
            <div class="col-6">
                <h2>Welcome!</h2>
                <div id="logo">
                <img src="media/REMINDER_LOGO.jpg" style="width:100%;" alt="remindme">
                </div>

             </div>
             <div class="col-6">
                <div class="welcome-message-box">
                    <h3>Have a look around our site..</h3>
                    <div class="welcome-message-text">
                        <pre>
Hello and glad to see you stop by.

As life and work become increasingly busy we
often have moments where we can't remember why
we came into a specific room, or shop or even
when getting to work.

We've all had those moments when we just got
in the house and remembered that we forgot
to pick up milk or when we left work we
realised we forgot to send a requested
document, or make a phone call, etc.
The list can continue indefinitely.

What if we could be reminded exactly when
we are in the specific place what we need to do?
Well, now you can.
Come in and have a browse, maybe something will be of use.
To use our reminder app please <a href="{% url 'account_signup' %}">sign up</a> or <a href="{% url 'account_login' %}">login</a>.
 <pre>
                    </div>
                </div>
                
             </div>
        </div>
    </div>
    
{% endblock %}

