<!-- profile_template-->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'templates/css/profiles.css' %}">
{% endblock %}


{% block content %}
<div class="container container-fluid">
  
    <div class="row">
        <div class="col-12 mt-4 ">
            <h2>Welcome {{user}} to your profile page</h2>
        </div>         
    </div>
<div class="container">
    <div class="col-12">
        {{user.name}}
    </div>
</div>



{% endblock %}

