body{
    background-color:rgb(15, 153, 75);
}

.btn{
    border-color: rgb(6, 71, 34);
    border-width:2px;
    border-style: solid;
}

/* Header ************/
.main-header {
    margin-top: 2rem;
    margin-left: 2rem;
    width: auto;
    height: auto;
}

.btn-nav{
    width: 6rem;
}
.btn-task{
    width: 6rem;
    margin-top: 1rem;
    margin-left: 2rem;
}


.h3{
    text-transform: uppercase;
}

/* Logo ************/
.logo-box {
    margin-top: 3rem;
    margin-left: 3rem;
    text-transform: uppercase;
    font-weight: bold;
 }

 .logo{
    display:block;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
     }

/* Reminder Boxes ************/

.map-box{
    border: 1px;
    border-color: rgb(25, 27, 27);
    background-color: rgb(222, 252, 252);
    width: auto;
    height: auto;
    margin-top: 3rem;
    border-color: rgb(17, 17, 17);
    border-width:2px;
    border-style: solid;
}
.tasks-box{
    
    background-color: rgb(222, 252, 252);
    width: auto;
    height: auto;
    margin-top: 3rem;
    margin-left: 2rem;
    border-color: rgb(17, 17, 17);
    border-width:2px;
    border-style: solid;
}

.location-box,.priority-box,.status-box,.name-box,.name-box{
    border-color:black;
    border-width: 1px;
    border-style:solid;
    
}

.coordinates{
    margin-top:2rem;
}

/* Bootstrap Toasts ************/

.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.ux-messages-header{
    overflow: visible;
}
.ux-messages-body{
    height:2px;
}