{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
{% block content %}
    <h1>Add Task</h1>
    <div class="div_center">
        <form method="POST" action="/add">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="div">
                <p><button class="btn btn-success" type="submit">Add item</button>
                </p>
            </div>
        </form>

        <div class="back-btn btn btn-info">
            <a href="/tasks/templates/tasks/task_list.html">Back</a>
        </div>
    </div>
{% endblock %}
    
     </body>   

       
       
    
    
    

</html>