<!-- task-list_template-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <div class="container-fluid tasks">

</div>

<div class="container container-fluid">
    
        <div class="row">
                <div class="card card-body map-box col-8">
                    <h3>Map</h3>
                    <div id="map" class="google-map">
                        <script
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqqIhoF9jKSvw6VRhybWymsTcdtadPtQw&callback=initMap&v=weekly"
                            defer
                           ></script>
                    </div>
                </div>
        
       
            <div class="card card-body tasks-box col-4">
                <h3>Tasks</h3>
                <title>Task List</title>
                <div class="task-table">
                    <h4>Current Tasks:</h4>
                    
                    <table>
                        {% for task in tasks %}
                        <tr>
                            {% if task.done %}
                            <td><strike>{{ task.name }}</strike></td>
                            {% else %}
                            <td><strong>{{ task.name }}</strong></td>
                            {% endif %}
                            
                            <td class="location-box">{{ task.location }}</td>
                            <td class="priority-box"><strong>{{ task.priority }}</strong></td>
                            <td class="status-box">{{ task.done }}</td>
                            <td>
                                <a href="/edit/{{ task.id }}">
                                    <button class="btn btn-info btn-task">Edit</button>
                                </a>
                                <a href="/toggle/{{ task.id }}">
                                    <button class="btn btn-info btn-task">Change</button>
                                </a>
                                <a href="/delete/{{ task.id }}">
                                    <button class="btn btn-info btn-task">Delete</button>
                                </a>
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>
                                <h2>There are no tasks</h2>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
    
                <a class="btn btn-success mt-2" href="{% url 'add_task' %}">Add item</a>
                            </div>
                        </div>
</div>
{% endblock %}

{% block postloadjs %}

<!-- <script> 
    let map;
    function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 8,
    });
    }
    window.initMap = initMap;

</script> -->

<div class="coordinates">
<p class="logo">Coordinates Getter</p>

<button class="btn btn-info" onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}
</script>

</div>

<script> 
  let map;
  function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: -34.397, lng: 150.644 },
      zoom: 8,
  });
  }
  window.initMap = initMap;

</script>
{% endblock %}