<nav>
    <div class="container">
      <div class="footer-container">
        <div class=" logo-box-footer">
          <h2 id=logo-socials class="logo">Socials</h2>
  
          <a class="btn-nav-socials" href="#"><i class="fa fa-brands fa-facebook fa-5x"></i></a>
          <a class="btn-nav-socials" href="#"><i class="fa fa-brands fa-instagram fa-5x"></i></a>
          <a class="btn-nav-socials" href="#"><i class="fa fa-brands fa-twitter fa-5x"></i></a> 
        </div>   
        </div>
      </div>
      </nav>