<!-- task-list_template-->
{% extends 'base.html' %}
{% load static %}
{% block corecss %}
<link rel="stylesheet" href="{% static 'css/reminder/reminder.css' %}">
{% endblock %}
{% block title %}Tasks{% endblock %}


{% block content %}
<div class="container-fluid tasks">
    <title>Task List</title>
    <div class="task-table">
        <h1>Current Tasks:</h1>

        <table>
            {% for task in tasks %}
            <tr>
                {% if task.done %}
                <td><strike>{{ task.name }}</strike></td>
                {% else %}
                <td><strong>{{ task.name }}</strong></td>
                {% endif %}

                <td>{{ task.location }}</td>
                <td><strong>{{ task.priority }}</strong></td>
                <td>{{ task.done }}</td>
                <td>
                    <a href="/edit/{{ task.id }}">
                        <button>Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/toggle/{{ task.id }}">
                        <button>Change</button>
                    </a>
                </td>
                <td>
                    <a href="/delete/{{ task.id }}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>
                    <h2>There are no tasks</h2>
                </td>
            </tr>
            {% endfor %}

        </table>



    </div>
    
<a class="btn btn-success" href="/add">Add item</a>

</div>
<div class="row">
    <div class="container map-box col-8">
      <h2>Map</h2>

     
    </div>
<div class="row">
    <div class="container tasks-box col-4">
        <h2>Tasks</h2>
    </div>
  </div>
</div>

<br>
    <div class="center">
    <p class="geolite-license ml-2"></p>This product includes GeoLite2 data created by MaxMind, available from
    <a href="https://www.maxmind.com">https://www.maxmind.com</a>
   </p>
  </div>


{% endblock %}