<div class="container">
    <div class="main-header">
      <div class="col-12 col-lg-6">Tasks</div>
    
      <a class="ml-4 mt-4 btn btn-info" href="{% url 'reminder_list' %}">Task List</a>
      <a class="ml-4 mt-4 btn btn-info" href="{% url 'index' %}">Profile</a>
      <a class="ml-4 mt-4 btn btn-info" href="{% url 'add' %}">Reminder</a>
      <a class="ml-4 mt-4 btn btn-info" href="{% url 'logout' %}">Log Out</a>
    
      <div class="col-12 col-lg-6 mt-20 ">
            <div class="row logo-box">
          Remind me
        </div>
      </div>
    </div>
    </div>